In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

df = pd.read_csv("train.csv")
df

,Id,Province_State,Country_Region,Date,ConfirmedCases,Fatalities
0,1,NaN,Afghanistan,2020-01-22,0.0,0.0
1,2,NaN,Afghanistan,2020-01-23,0.0,0.0
2,3,NaN,Afghanistan,2020-01-24,0.0,0.0
3,4,NaN,Afghanistan,2020-01-25,0.0,0.0
4,5,NaN,Afghanistan,2020-01-26,0.0,0.0
...,...,...,...,...,...,...
20575,29366,NaN,Zimbabwe,2020-03-27,5.0,1.0
20576,29367,NaN,Zimbabwe,2020-03-28,7.0,1.0
20577,29368,NaN,Zimbabwe,2020-03-29,7.0,1.0
20578,29369,NaN,Zimbabwe,2020-03-30,7.0,1.0
20579,29370,NaN,Zimbabwe,2020-03-31,8.0,1.0

In [9]:
df.shape

(20580, 6)

In [6]:
dft = pd.read_csv("submission.csv")
dft

       ForecastId  ConfirmedCases  Fatalities
0               1               1           1
1               2               1           1
2               3               1           1
3               4               1           1
4               5               1           1
...           ...             ...         ...
12637       12638               1           1
12638       12639               1           1
12639       12640               1           1
12640       12641               1           1
12641       12642               1           1

[12642 rows x 3 columns]